In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass 
password = getpass.getpass()
import numpy as np
import re
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

In [3]:
sakila =  '''
SELECT f.film_id, COUNT(r.rental_id) rented_times,f.rental_duration, c.name as category, f.length,
f.rating, f.rental_rate, l.name AS language,
CASE
    WHEN r.rental_date BETWEEN '2005-05-01' AND '2005-05-31' THEN True
    ELSE False END AS may
FROM sakila.film f
Left JOIN inventory i
    ON f.film_id = i.film_id
JOIN sakila.rental r
    ON i.inventory_id = r.inventory_id
Join sakila.film_category fc
    On fc.film_id = f.film_id
Join sakila.category c
    On c.category_id = fc.category_id
Join sakila.language l
    On l.language_id = f.language_id
Where r.rental_date Between '2005-01-01' AND '2005-12-31'
GROUP BY film_id, rental_duration,category, f.length, f.rating, may,f.rental_rate, language; 
'''


sakila = pd.read_sql_query(sakila, engine)

In [4]:
sakila['film_id']

0        19
1        19
2        21
3        21
4        29
       ...
1580    977
1581    981
1582    988
1583    989
1584    989
Name: film_id, Length: 1585, dtype: int64

In [5]:
sakila.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1585 entries, 0 to 1584
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   film_id          1585 non-null   int64
 1   rented_times     1585 non-null   int64
 2   rental_duration  1585 non-null   int64
 3   category         1585 non-null   object
 4   length           1585 non-null   int64
 5   rating           1585 non-null   object
 6   rental_rate      1585 non-null   float64
 7   language         1585 non-null   object
 8   may              1585 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 111.6+ KB

In [6]:
sakila['rental_duration'] = sakila['rental_duration'].astype(object)
sakila['rental_rate'] = sakila['rental_rate'].astype(object)
sakila['language'] = sakila['language'].astype(object)

In [7]:
y = sakila['may']
X = sakila.drop('may', axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train_num = X_train.select_dtypes(include = np.number)
# Scaling data
transformer = MinMaxScaler().fit(X_train_num)
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized)

In [9]:
X_train_norm

             0         1         2
0     0.615616  0.000000  0.330935
1     0.579580  0.566667  0.863309
2     0.215215  0.000000  0.482014
3     0.300300  0.800000  0.784173
4     0.625626  0.033333  0.079137
...        ...       ...       ...
1263  0.277277  0.166667  0.784173
1264  0.080080  0.400000  0.410072
1265  0.430430  0.233333  0.935252
1266  0.677678  0.000000  0.223022
1267  0.243243  0.766667  0.669065

[1268 rows x 3 columns]

In [10]:
X_train_cat = X_train.select_dtypes(include = object)

In [11]:
X_train_categorical = X_train.select_dtypes(include = object)
X_train_cat = pd.get_dummies(X_train_categorical, 
                             columns=['category', 'rating','rental_duration', 'rental_rate', 'language'],
                             drop_first=True)

In [12]:
X_train_transformed = np.concatenate([X_train_norm, X_train_cat], axis=1)

In [13]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_train_transformed, y_train)

In [14]:
# X-test
X_test_num = X_test.select_dtypes(include = np.number)

# We'll use the transformer we used before while training data
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized)

In [15]:
# for categoricals
X_test_categorical = X_test.select_dtypes(include = object)
X_test_cat = pd.get_dummies(X_test_categorical, 
                            columns=['category', 'rating','rental_duration', 'rental_rate', 'language'],
                            drop_first=True)

In [16]:
X_test_transformed = np.concatenate([X_test_norm, X_test_cat], axis=1)

In [17]:
predictions = classification.predict(X_test_transformed)
classification.score(X_test_transformed, y_test)

0.9747634069400631

In [18]:
y_test.value_counts()

0    202
1    115
Name: may, dtype: int64

In [19]:
pd.Series(predictions).value_counts()

0    194
1    123
dtype: int64

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[194,   8],
       [  0, 115]], dtype=int64)

In [ ]:
# I did half of this lab but i ended up submitting this notebook because this lab was really too hard for me to do by my self and unfortunately there is not enough time to sit on this properly
# the whole credit for this goes to Ferreira